extends layout 

block content 

    if(currentUser)
    
        h2 Lobby

        div#myTools
        
            a(href="/index/messages/" + currentUser._id) My Messages
            a(href="/index/message/create") Create Message

        each message in messages 

            dl

                dt 
                    a(href="/index/message/" + message._id) #[strong #{message.title}]

                dd #{message.text}

                div#info
                
                    if currentUser._id.equals(message.creator._id)
                        a(href=message.creator.url)#userLink Created by you
                    
                    else if currentUser.membership_status === "VIP" || currentUser.membership_status === "Admin"
                        a(href=message.creator.url)#userLink #{message.creator.username}

                    else 
                        p You do not have clearance to see creator info!

                    p #{message.beautifiedDate}

    else 

        h2 Cannot Access Clubhouse!

        a(href="/") Log in
        a(href="/sign-up") Sign up