extends layout

block content

    if currentUser
    
        h2 #{message.title}
        p #{message.text}

        br

        if currentUser._id.equals(message.creator.id)
            
            p Created by you
            p #{message.beautifiedDate}

            div#options
            
                br

                a(href="/index/message/" + message._id + "/update") Edit Message
                a(href="/index/message/" + message._id + "/delete") Delete Message


        else if currentUser.membership_status === "VIP"
            
            p #{message.creator.username}
            p #{message.beautifiedDate}

            div#options
            
                br

                a(href="/index/message/" + message._id + "/delete") Delete Message

        else 
            p You do not have clearance to see creator info!
            p #{message.beautifiedDate}

        

    else 

        h2 Cannot Access Clubhouse!

        a(href="/") Log in
        a(href="/sign-up") Sign up 